body {
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-family: "Inter", sans-serif;
	font-weight: 400;
}

.mw-container {
	width: 100%;
	max-width: 800px;
	margin: 24px auto;
	background: #f1f1f1;
}

.mw-content {
	padding: 24px;
	border-radius: 4px;
}

header {
	padding-bottom: 24px;
	border-bottom: 1px solid #e1e1e1;
}

header h1 {
	margin: 0;
}

footer {
	padding-top: 24px;
	border-top: 1px solid #e1e1e1;
	font-size: 14px;
}




.mw-button {
	padding: 12px 24px;
	text-align: center;
	background: #008060;
	color: #FFFFFF;
	cursor: pointer;
	transition: 0.25s;
}

.mw-button:hover {
	background: #004C3F;
}



.mw-calc {
	counter-reset: listCounter;
}

.mw-calc__list-item {
	counter-increment: listCounter;

	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
	padding: 16px 0px;
}

.mw-calc__list-item + .mw-calc__list-item {
	border-top: 1px solid #e1e1e1;
}

.mw-calc__list-item-problem:before {
	content: counter(listCounter);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	font-size: 12px;
	font-weight: 500;
	color: #ffffff;
	background: #595959;
}

.mw-calc__list-item-problem,
.mw-calc__list-item-solution {
	display: flex;
	gap: 16px;
	align-items: center;
}

.mw-param,
.mw-action,
.mw-solution {
	font-size: 20px;
	font-family: "Inter", sans-serif;
	font-weight: 400;

	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-height: 45px;
	padding: 4px  8px;
	border: 1px solid #e1e1e1;
	border-radius: 4px;
}

.mw-param {
	min-width: 50px;
}

.mw-action {
	min-width: 45px;
}

.mw-solution {
	width: 75px;
	text-align: center;
}

.mw-calc__list-item-result {
	display: flex;
	align-items: center;
}

.mw-calc__list-item-result.correct {
	color: #009900
}

.mw-calc__list-item-result.wrong {
	color: #990000;
}

.mw-calc__stats {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 24px 0px;

	font-size: 24px;
	font-family: "Inter", sans-serif;
	font-weight: 500;
}